{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Liste des articles</h1>

    <div class="mb-4">
        {{ form_start(filter_form, {'attr': {'class': 'row g-3'}}) }}
        <div class="col-lg-3">
            {{ form_row(filter_form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-lg-3">
            {{ form_row(filter_form.category, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-lg-3">
            {{ form_row(filter_form.user, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-lg-3 d-flex justify-content-around align-self-end">
            <div>
                {{ form_widget(filter_form.reset, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            <div>
                {{ form_end(filter_form, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        {% for article in articles %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                <a class="card link-underline link-underline-opacity-0" href="{{ path('app_article_show', {id: article.id}) }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.name }}</h5>
                        <p class="card-text text-muted">{{ article.description }}</p>
                        <p class="card-text"><strong>Prix:</strong> {{ article.price }} €</p>
                        <p class="card-text"><strong>Stock:</strong> {{ article.stock }}</p>
                        <p class="card-text"><strong>Vendeur:</strong> {{ article.user.username }}</p>
                        <p class="card-text"><strong>Catégorie:</strong> {{ article.category.name }}</p>
                    </div>
                </a>
            </div>
        {% else %}
            <div>
                <span>Aucun article trouvé</span>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(articles) }}
    </div>
    <script defer>
        function resetForm(event) {
            event.preventDefault();
            const form = event.target.closest('form');
            form.reset();
            window.location.href = '{{ path('app_home') }}';
        }
    </script>
{% endblock %}